<router-outlet />
<style>
  .example-card {
    max-width: 400px;
  }

  .example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
  }
</style>
<!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <p>it is now {{ today | date : "dd/mm/yyyy" }}</p>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{ name | uppercase }}</button>
    <button mat-button>{{ title | lowercase }}</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<!-- Pipes -->
<!-- <p>Pip basics on default currency:{{ salay | currency }}</p>
<p>Pip basics on currency:{{ salay | currency : "Birr" }}</p>
<p>Pip basics on number :{{ salay | number }}</p>
<p>Pip basics on percent:{{ salay | percent }}</p> -->
<!-- Here guide how to add json pipes -->
<!-- <p>Pip basics on Json:{{ obj | json }}</p> -->
<!-- creating your own custome pipe and add it to as builting pipe -->
<!-- <p>Pip basics on percent:{{ name | reverse }}</p> -->
<!-- <app-about></app-about> -->

<!-- Propery Binding -->
<input type="checkbox" [disabled]="isDisabled" />
<input type="checkbox" [checked]="isDisabled" />
<!-- using interpolation what ever value compes from  the component cosidered as true -->
<input type="checkbox" checked="{{ isDisabled }}" />
<br />
<!-- <input [value]="value" /> -->
<input
  (keyup)="UpdateTitle($event)"
  placeholder="I am using event binding method..."
/>
<br />

<!-- Event Binding -->
<!-- It is very simple  just specify the event type and call the function name -->
<button (click)="ChangeName()">Click Me</button>
<!-- <button (click)="ChangeName($event)">Click Me</button> -->
<br />

<!-- Two way binding -->
<!--  The ngModel implement  form controll functions  -->
<input type="text" [(ngModel)]="name" placeholder="i am using ngModel.." />
